* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 1024px;
  height: 576px;
}

.slider-container {
  position: relative;
}

.slider-container img {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
}

.slider-container img.active {
  opacity: 1;
}

.slider-controls {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.slider-controls .prev,
.slider-controls .next {
  color: #fff;
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  opacity: 0;
}

.slider-controls .prev:hover,
.slider-controls .next:hover {
  opacity: 1;
  transition: all .5s;
}

.slider-controls .prev {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.slider-controls .next {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.slider-controls svg {
  width: 50px;
  height: 50px;
}

.slider-controls .indicators {
  align-self: flex-end;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.slider-controls .indicators ul li {
  display: inline-block;
  background-color: #f6f6f6;
  height: 18px;
  width: 18px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 50%;
  transition: .3s;
}

.slider-controls .indicators ul li.active {
  background-color: #009688;
  width: 35px;
  border-radius: 9px;
}